.loginForm {
    width: 500px;
    margin: 0 auto;

}

.formTitle {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.formGroup {
    margin-bottom: 1rem;
}

.formControl {
    padding: 0.5rem;
    font-size: 1.2rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    padding: 0.75rem 1.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}