.footer{
    width: 100vm;
    height: auto;
    margin: 80px 0 20px 0;
    font-family: montserrat, sans-serif;
    padding: 0 80px;
}

.footer__logo{
    width: 10vw;
    height: fit-content;
}

.footer__nav{
    font-size: large;
}

.footer__card{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.footer__sub{
    font-size: large;
    font-weight: normal;
}

