.map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: montserrat, sans-serif;
    font-weight: 800;
}

.map__card{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.map__title{
    font-size: xxx-large;
    font-weight: bolder;
}

.map__divider{
    color: #3caaf7;
    font-weight: bolder;
    font-size: xx-large;
    margin-bottom: 20px;
}

.selectButton{
    background-color: #3caaf7;
    border: none;
    font-size: x-large;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 40px;
}

.selectButton:hover{
    background-color: #007bff;
}

.selectAddress{
    font-size: x-large;
    font-weight: 400;
}

.map__sub{
    font-size: large;
    font-weight: normal;
}