.map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: montserrat, sans-serif;
    font-weight: 800;
}

.map__card{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.map__title{
    font-size: xxx-large;
    font-weight: bolder;
}

.map__divider{
    color: #3caaf7;
    font-weight: bolder;
    font-size: xx-large;
    margin-bottom: 20px;
}

.map__sub{
    font-size: large;
    font-weight: normal;
}